
/* write your CSS here */
body#topcolor {
    background:#000000;
    background-image: url("http://pixabay.com/static/uploads/photo/2015/03/31/22/25/art-701682_640.jpg");
    background-repeat: no-repeat;
}
h1 {
    color: black;
    font-family: droid serif;
    font-variant: small-caps;
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
}
h1.transbox1 {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #000000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
#parent {
    overflow: auto;
}
body.image {
    position: relative;
    top:5px;
    left: 210px;
    
}

h2 {
    font-variant: small-caps;
    font-size: 25px
}
p {
    font-style: normal;
    font-weight: bold;
    font-family: serif;
    color: gray;
}
#excited {
    color: crimson;
    float: none;
    line-height: 25px;
}
#mybox1 {
    width:300px;
        height:160px;
    padding: 10px;
    margin: 20px;
    border: 1px dashed white;
    clear: both;
    
}
#mybox2 {
    width: 450px;
    height: 235px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border: 1px dashed white;
}
    
h2.first-list {
    color: white;
    line-height: 50px;
    
}
ul{
    list-style-type: none;
    color: gray;
}
div.seconddiv {
    text-align: center;
    float: right;
}
div.thirddiv {
    text-align: center;
    float: right
}
h2.poem {
    color: white;
    line-height: 50px;
        font-family: droid serif;

}
#modal-popup {
    height:95px;
    width: 300px;
    background: #ffffff;
    position:fixed;
    top:400px;
    left: 400;
    z-index:100;
 
}
h2.space {
    line-height: 40px;
    font-family: droid serif;
}
    
    
    
